/* CSS
Author : aliefrahman
Date : 20-12-2016
 */
        * {
            line-height: 1.2;
            margin: 0;
        }
        html {
            color: #888;
            display: table;
            font-family: sans-serif;
            height: 100%;
            text-align: center;
            width: 100%;
        }
        body {
            display: table-cell;
            vertical-align: middle;
            margin: 2em auto;
        }
        a {
          text-decoration:underline;
          color: #888;
        }
        a:hover {
          color: #000;
        }
        h1 {
            color: #555;
            font-size: 2em;
            font-weight: 400;
        }
        h2 {
            text-shadow: rgba(76, 76, 76, 0.8) 2px 5px;
            font-size: 5em;
            font-weight: 700;
            letter-spacing: 5px;
            color: rgb(255, 61, 61);
            margin-bottom: 40px;
            padding-top: 40px;
        }
        p {
            margin: 0 auto;
            width: 100%;
        }
        img {
          max-width: 100%;
          height: auto;
        }
        @media only screen and (max-width: 280px) {
            body, p {
                width: 95%;
            }
            h1 {
                font-size: 1.5em;
                margin: 0 0 0.3em;
            }
        }
